body{
  padding-top: 50px;
  background-color: #383838;
}

h1{
  text-align: center;
}

ul{
  padding-right: 6%;
  text-align: center;
}

.navbar-default {
  background-color: #009688;
  border-color: #009688;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a {
  color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00bfa5;
}

.section{
  border: 1px solid;
  border-color: rgba(0,0,0,.12);
  padding: 2% 0 2% 0;
  margin: 0 5% 0 5%;
  background-color: #fafafa;
  color: #000;
}

.description{
  font-size: x-large;
  text-indent: 5%;
  text-align: justify;
}

.social-buttons{
  text-align: center;
  color: #000;
}

.spacing{
  padding-top: 3%;
}

#content{
  
}

#about{
  padding: 0 8% 3% 8%;
}

#portfolio{
  text-align: center;
  font-size: x-large;
  padding: 0 8% 3% 8%;
}

#repositories{
  font-size: x-large;
}

#contact{
  padding: 0 8% 3% 8%;
}

#social-buttons{
  padding-top: 3%;
  text-align: center;
}

#twitter:hover{
  color: #55acee;
}

#google:hover{
  color: #dd4b39;
}

#steam:hover{
  
}

#twitch:hover{
  color: #6441a5;
}

#footer{
  background-color: #009688;
  height: 70px;
  width: 100%;
}

#footer-text{
  text-align: center;
  padding-top: 1.5%;
  font-size: large;
}
